.scanner, .scanner-status, .scanner-servers {
    margin: 20px 0 0 0;
}

.scanner textarea {
    width: 100%;
    height: 100px;
}

.scanner #scanning {
    width: 100%;
    margin: 20px 0 20px 0;
}

.scanner .scanning-img {
    width: 32px;
    height: 32px;
    background: url('../img/scanning.gif') no-repeat;
    float: left;
    margin: 0 5px 0 0;
}

.scanner .scanning-text {
    padding: 5px 0 0 0;
}

.scanner-status .item {
    width: 100%;
    background: #FFF;
}

.scanner-status .success {
    font-weight: bold;
    color: green;
}

.scanner-status .item p {
    padding: 10px;
}

.scanner-status .item .warning {
    color: red;
}